# Git-ignore patterns

# TeX-family by-products
*.aux
*.bbl
*.blg
*.brf
*.btmp
*.dvi
*.glo
*.log
*.idx
*.ilg
*.ind
*.itmp
*.lof
*.log
*.lot
*.out
*.toc

# Editors
*.~?~
*~
TAGS

# Compilers
*.d
*.mod
*.o
